@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

.navCont {
  background-image: linear-gradient(to right , #672280 , #A626D3 ) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.navLogo p {
  color: white;
  font-family: "Karla",sans-serif;
  font-size: 1.5rem;
}

.navCont .navProject {
  color: white;
  font-family: "Inter",sans-serif;
  font-weight: 200;
}


.inputCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  padding: 2rem;
}

.inputBox {
  display: flex;
  gap: 1rem;
  width: 100%;
}

input {
  padding: 0.75rem 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 50%;
  color: black;
}

.inputBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: 0.1rem solid rgba(0,0,0,0.3);
  border-radius: 0.5rem;
  background-image: linear-gradient(to right , #672280 , #A626D3 );
  font-family: "Karla",sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  cursor: pointer;
}
.inputBtn:hover {
  transform: scale(1.005);
}

.meme {
  width: auto;
  height: 60vh;
  /* max-height: 60vh; */
  position: relative;
}
.memeImage{
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}
.memeText {
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  font-family: "Poppins",sans-serif;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.memeText.memeText-top{
  top: 1rem;
}

.memeText.memeText-bottom{
  bottom: 1rem;
}