*{
  margin: 0;
  padding: 0;
}

.navCont {
  background-image: linear-gradient(to right , #672280 , #A626D3 ) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.navLogo p {
  color: white;
  font-family: "Karla";
}